---
import Layout from '../layouts/Layout.astro';
import LinkButton from '../components/LinkButton.astro';
import logo from '../assets/logo.png';
import bg_back from '../assets/bg_back.png';
import bg_roulette from '../assets/roulette circle.png';
import bg_front from '../assets/bg_front.png';

import '../styles/global.css';


---

<Layout>
<main>
	<div class="background">
		<img src={bg_back.src} alt="" fetchpriority="high" style="width: 100%; height: 100%;"/>
		<img class="spin1" src={bg_roulette.src} alt="" />
		<img class="spin2" src={bg_roulette.src} alt="" />

		<img src={bg_front.src} alt=""  style="width: 100%; height: 100%;"/>
	</div>

	<div class="foreground">
		<img class="logo" src={logo.src} alt="" fetchpriority="high"/>
		<p>spin wheels. make games. get prizes.</p>
		<p>starts 8 august.</p>

		<LinkButton href="https://hackclub.slack.com/archives/C0997MH9QF2" newpage>join #roulette on slack</LinkButton>

	</div>

</main>
</Layout>


<style>
	main {
		width: 100%;
		height: 100%;
		text-align: center;

		overflow: hidden;
	}

	main > div {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.foreground {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column;
		padding: 20px;
		box-sizing: border-box;
	}

	.foreground .logo {
		margin-bottom: 16px;
		width: 60%;
	}




	.foreground p {
		margin: 8px 0;
	}

	.spin1 {
		animation-name: spin1;
		animation-duration: 60s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;

		transform-origin: center;
		height: 70%;
		left: -10%;
		bottom: -30%;
	}

	@keyframes spin1 {
		0% {transform: skew(20deg, -10deg) rotate(0);}
		100% {transform: skew(20deg, -10deg) rotate(360deg) ;}
	}

	.spin2 {
		animation-name: spin2;
		animation-duration: 200s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: reverse;

		transform-origin: center;
		height: 140%;
		right: -40%;
		top: -80%;
	}

	@keyframes spin2 {
		0% {transform: skew(-19deg, 4deg) rotate(0);}
		100% {transform: skew(-19deg, 4deg) rotate(360deg) ;}
	}



	.background {
		position: relative;

		overflow: hidden;

	}

	.background img {
		object-fit: cover;
		position: absolute;
		display: block;
	}


	@media (max-width: 600px) {
		.foreground .logo {
			width: 90%;
		}

		.spin1 {
			left: -60%;
		}

		.spin2 {
			right: -180%;
			top: -110%;
		}
	}

</style>
