---
import InsideLayout from '../layouts/InsideLayout.astro';

import LinkButton from '../components/LinkButton.astro';

import { requireUser, redirectToLogin } from '../lib/auth.js';
import { getUserRound } from '../lib/airtable.js';
import { cameraChoices } from '../lib/data.js';

let userData;

export const prerender = false;

try {
  userData = await requireUser(Astro.request.headers);

} catch {
  return redirectToLogin();
}

var user = userData.fields;


const round = await getUserRound(user.slackId, 1);
const fields = round?.fields || {};
const pickedCamera = fields.spinCamera || '—';
const pickedGameplay = fields.spinGameplay || '—';
const pickedSetting = fields.spinSetting || '—';


---


<InsideLayout currentPage="spin">



<main>
  <p>welcome, {user.name}! <img class="avatar" src={user.avatar}></img></p>

  <p>Your spins this round:</p>
  <p><strong>camera</strong>: {pickedCamera}</p>
  <p><strong>gameplay</strong>: {pickedGameplay}</p>
  <p><strong>setting</strong>: {pickedSetting}</p>

  {!(pickedCamera !== '—' || pickedGameplay !== '—' || pickedSetting !== '—') && (
    <div style="margin-top: 16px;">
      <LinkButton href="/spin/wager" arrow>start the round</LinkButton>
    </div>
  )}

</main>

</InsideLayout>


<style>
main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
}


</style>


<script client:load>



async function chooseWager(choice) {

  const res = await fetch('/api/wager', {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({
      wagerChoice: choice,
      wagerAmount: 10,
    }),
  });

  const data = await res.json();
  // if successful, spin immediately?
  // so the data gotten back should be the result of the three spins.
  console.log(data);
  console.log("spun!")
}

async function respin(){


}

</script>
