---
import BoxAlt from '../components/BoxAlt.astro';

const {hours, mult, offset_x, offset_y, rotation, onclick, fullHeight} = Astro.props;

const mult_img = {
  1.5: '/mult_15.png',
  2: '/mult_2.png',
  3: '/mult_3.png'
}

---

<BoxAlt offset_x={offset_x} offset_y={offset_y} rotation={rotation} onclick={onclick} fullHeight={fullHeight}>
<p style="text-align: center">hit {hours} hours for</p>
<img src={ mult_img[mult] }></img>
<p style="text-align: center;"><slot /></p>
</BoxAlt>


<style>
p {
  color: var(--black);
}

img {
  width: 80%;
}
</style>
